<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.letspaanidriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--    <uses-feature
                android:name="android.hardware.location.network"
                android:required="false"/>
        <uses-feature
                android:name="android.hardware.location.gps"
                android:required="false"/>-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.example.letspani.apis.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"

        >


        <activity
            android:name=".activity.OTP"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".activity.ActivityStartWaterDelivery"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">

        </activity>

        <activity
            android:name=".activity.Activity_History"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">

        </activity>


        <activity
            android:name=".activity.BasicActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="OrderAlert" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.Register"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>


        </activity>

        <!--       <meta-data
                       android:name="com.google.android.gms.version"
                       android:value="@integer/google_play_services_version"/>-->

        <activity
            android:name=".activity.LogIn"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.Rating"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.miui.permcenter.permissions.PermissionsEditorActivity"
            />

        <activity
            android:name=".activity.OrderCancelledByUser"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OrderCanceledbyUser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.Splash"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name=".utils.FirebaseRecived">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>


        </service>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <service
            android:name=".utils.FloatingViewService"
            android:enabled="true"
            android:exported="false" />


        <service android:name=".utils.LocationService"></service>


    </application>

</manifest>